/build/
/data/3DMatch/geo_prior/
/data/3DMatch/data/
/dist/
/geotransformer.egg-info/
/geotransformer/extensions/chamfer_dist/chamfer.egg-info/
/geotransformer/extensions/chamfer_dist/dist/
/geotransformer/extensions/chamfer_dist/build/
/output/3DMatch_release/events/
/output/3DMatch_release/features/
/output/3DMatch_release/features_3DLoMatch/
/output/3DMatch_release/geo_prior/
/output/3DMatch_release/geo_prior_3DLoMatch/
/output/3DMatch_release/logs/
/output/3DMatch_release/logs_3DLoMatch/
/output/3DMatch_release/registration/
/output/3DMatch_release/snapshots/
/output/3DMatch_release/config.yaml
